:root {
  --color-primary: hsl(20, 55%, 61%);
  --color-secondary: hsl(20, 55%, 71%);
  --color-three: #7c6158;
  --color-four: #584f4c;
  --color-five: #443a38;
  --color-six: #2d2f31;
  --background-color-primary: rgba(25, 27, 29, .9);
  --background-color-secondary: rgba(25, 27, 29, 1);
  --color-eight: hsl(0, 0%, 30%);
}



html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 100svh;
  background-image: url(./Images2/london-3833039.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  color: var(--color-primary);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: auto;
  gap: 1rem;
  max-width: 2000px;
}

.video-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0.5rem;
  height: 300px;
  width: 533.33px;
  background-color: var(--background-color-primary);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.video-card-content {
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  height: 80%;
  width: 80%;
  padding: 1rem;
  transition: transform 0.2s;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.video-card-content:hover,
.video-card-content:active {
  transform: scale(1.05);
  border: 2px solid var(--color-secondary);
  background-color: var(--background-color-secondary);
  color: var(--color-secondary);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
}

.video-card-content.active {
  transform: scale(1.05);
  border: 2px solid var(--color-secondary);
  background-color: var(--background-color-secondary);
  color: var(--color-secondary);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
}

.custom-fill {
  fill: #ffff;
  height: 100px;
  width: 100px;
}

@media (max-width: 480px) {
  html {
    font-size: 80%;
  }
  .video-card {
    height: 100px;
    width: 177.78px;
  }
  .custom-fill {
    height: 33.33px;
    width: 33.33px;
  }
  img {
    width: 33.3px;
    height: auto;
  }
  body {
    background-image: url(./Images2/london-3833039_640.jpg);
  }
}

@media (max-width: 768px) {
  html {
    font-size: 90%;
  }
  .video-card {
    height: 150px;
    width: 266.67px;
  }
  .custom-fill {
    height: 50px;
    width: 50px;
  }
  img {
    width: 50px;
    height: auto;
  }
  body {
    background-image: url(./Images2/london-3833039_640.jpg);
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 95%; 
  }
  .video-card {
    height: 200px;
    width: 355.56px;
  }
  .custom-fill {
    height: 66.67px;
    width: 66.67px;
  }
  img {
    width: 66.67px;
    height: auto;
  }
  body {
    background-image: url(./Images2/london-3833039_1280.jpg);
  }
}

@media (min-width: 1201px) {
  html {
    font-size: 100%;
  }
  .video-card {
    height: 300px;
    width: 533.33px;
  }
  .custom-fill {
    height: 100px;
    width: 100px;
  }
  img {
    width: 100px;
    height: auto;
  }
  body {
    background-image: url(./Images2/london-3833039_1280.jpg);
  }
}

h2 {
  border-radius: 10px;
  text-align: center;
  background-color: var(--background-color-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

#video-card-github {
  background-image: url(./Images2/css.png);
  background-position: center;
  background-size: cover;
}

#video-card-instagram {
  background-image: url(./Images2/murine.png);
  background-position: center;
  background-size: cover;
}

#video-card-tiktok {
  background-image: url();
  background-position: center;
  background-size: cover;
}

#video-card-twitch {
  background-image: url(./Images2/Screenshot\ 2025-088-15\ 003312.png);
  background-position: center;
  background-size: cover;
}

#video-card-twitter {
  background-image: url();
  background-position: center;
  background-size: cover;
}
